/* app css stylesheet */

.m46-page-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.m46-page-header-text {
    margin-bottom: 0px;
}

#tableGalaxie {

}
#tableGalaxie > tbody > tr > td  {
    border: 1px solid;
    border-color: floralwhite;
    width:80px;
    height:80px;
}

.container-canvas-radar {
    margin-top: 35px;
    margin-right: auto;
    margin-left: 10px;
    width: 800px;
}

#canvars-radar {
    border:1px solid #000000;
}