<div class="container">

    <div class="hero-unit">
        <h1>Où l'on parle de dev</h1>
        <p>Blablabla</p>
    </div>

    <tabs>
        <pane title="Java">

        </pane>
        <pane title="Play Framework">

        </pane>
        <pane title="Web">

        </pane>
        <pane title="BootStrap">

        </pane>
        <pane title="AngularJs">

        </pane>

        <pane title="Java">

        </pane>
        <pane title="Play Framework">

        </pane>
        <pane title="Web">

        </pane>
        <pane title="BootStrap">

        </pane>
        <pane title="AngularJs">

        </pane>

    </tabs>

</div>