<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span4">
            <h3 style="display:inline;"><< < Commandant TOTO > >></h3>
        </div>
        <div class="span4">
            <h3 style="display:inline;"><< < Tour n°41 > >></h3>
        </div>
        <div class="span2"></div>
    </div>

    <tabs>
        <pane title="Galaxie">
            <ng-include src="'assets/partials/game/inc_game_galaxie.html'"></ng-include>
        </pane>

        <pane title="Classements">
            <ng-include src="'assets/partials/game/inc_game_classements.html'"></ng-include>
        </pane>

        <pane title="Résultats">
            <ng-include src="'assets/partials/game/inc_game_resultats.html'"></ng-include>
        </pane>

        <pane title="Radar">
            <!--<ng-include src="'assets/partials/game/inc_game_radar.html'"></ng-include> -->
            <div ng-include src="'assets/partials/game/inc_game_radar.html'" ng-controller="GameRadarCtrl"></div>
        </pane>

        <pane title="Situation">
            <ng-include src="'assets/partials/game/inc_game_situation.html'"></ng-include>
        </pane>

        <pane title="Ordres">
            <ng-include src="'assets/partials/game/inc_game_ordres.html'"></ng-include>
        </pane>

    </tabs>

</div>