<div class="row-fluid">
    <div class="span3"><h5>Stock</h5></div>
    <div class="span3"><h5>Ressources</h5></div>
    <div class="span3"><h5>Equipage</h5></div>
</div>

<div class="row-fluid">
    <div class="span3">Navettes : 2300 (9.99)</div>
    <div class="span3">Novars : 453 000</div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3">Lasers : 230 000 (1.00)</div>
    <div class="span3">Minerais : 43 509</div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3">Missiles : 10 000 (1.00)</div>
    <div class="span3">Composants Electroniques : 3 453</div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span3">Erdividium : 345</div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span3">Osium 18 : 143</div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span3"></div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span3"></div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span3"></div>
    <div class="span3"></div>
</div>
