
<div class="row-fluid">

    <div class="span4">
        <table class="table">
            <caption>Ressources</caption>
            <thead>
            <tr><th class="text-align-center">Nom</th><th class="text-align-center">Qté</th></tr>
            </thead>
            <tbody>
            <tr><td>Novars</td><td class="text-align-right">234 999</td></tr>
            <tr><td>Minerais</td><td class="text-align-right">143 000</td></tr>
            <tr><td>Composants Electroniques</td><td class="text-align-right">3 458</td></tr>
            <tr><td>Erdividium</td><td class="text-align-right">765</td></tr>
            <tr><td>Osium 18</td><td class="text-align-right">143</td></tr>
            <tr><td>Kozium</td><td class="text-align-right">23</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table">
            <caption>Stock</caption>
            <thead>
            <tr><th class="text-align-center">Nom</th><th class="text-align-center">Qté</th><th class="text-align-center">Efficacité</th></tr>
            </thead>
            <tbody>
            <tr><td>Navettes</td><td class="text-align-right">3 452</td><td class="text-align-right">9.99</td></tr>
            <tr><td>Lasers</td><td class="text-align-right">143 000</td><td class="text-align-right">9.99</td></tr>
            <tr><td>Missiles</td><td class="text-align-right">3 458</td><td class="text-align-right">9.99</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table">
            <caption>Equipage</caption>
            <thead>
            <tr><th class="text-align-center">Nom</th><th class="text-align-center">Qté</th><th class="text-align-center">Efficacité</th></tr>
            </thead>
            <tbody>
            <tr><td>Guerriers</td><td class="text-align-right">234 999</td><td class="text-align-right">9.99</td></tr>
            <tr><td>Diplomates</td><td class="text-align-right">34 000</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Ouvriers</td><td class="text-align-right">50 000</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Coopérants</td><td class="text-align-right">1 000</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Savants</td><td class="text-align-right">1 000</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Espions</td><td class="text-align-right">500</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Artificiers</td><td class="text-align-right">500</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Commandos</td><td class="text-align-right">340 000</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Ingénieurs</td><td class="text-align-right">1 000</td><td class="text-align-right">1.00</td></tr>
            <tr><td>Rangers</td><td class="text-align-right">54 000</td><td class="text-align-right">1.00</td></tr>
            </tbody>
        </table>
    </div>

</div>

