<div class="row-fluid">

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Etoiles</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody >
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Autorité</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classAutorite" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Technologies</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Navettes</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Lasers</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Missiles</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Guerriers</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Novars</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Minerais</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Composantes Electroniques</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Classement général</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td>{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Progression du tour</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Pirates général</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Pirates du tour</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">

    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Jugainiens général</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">
        <table class="table table-bordered table-striped">
            <caption>Jugainiens du tour</caption>
            <thead>
            <tr><th></th><th>Nom</th><th>Pts</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in classNbStars" ><td>{{c.pos}}</td><td>{{c.name}}</td><td class="text-align-right">{{c.pts}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="span4">

    </div>

</div>